@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-black: #141413;
  --border-color: #D1D5DB;
  --dark-text: #FAFAF8;
  --light-text: #475467;
  --secondary-color: #F0EFEB;
  --accent-color: #D17557;
  --grey-accent: #6B7280;

}

body {
  color: var(--primary-black);
  font-family: inter, sans-serif;

}

h1,
h3 {
  margin: 0;
}

/* navigation bar */
.nav {
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  height: 80px;
  justify-content: center;
}

.nav__logo {
  width: 43px;
}

.nav__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 60px;
  letter-spacing: -2px;
  padding: 0.5rem;
}

/* main component */

.main {
  box-sizing: border-box;
  margin: 4rem auto;
  width: 80%;

}

/* add ingredient section */

.add-ingredient__form {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.add-ingredient__input {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 100px;
  padding: 9px 13px;
}

.add-ingredient__btn {
  background: var(--primary-black);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-family: inter;
  font-size: 1rem;
  font-weight: 500;
  padding: 9px 17px;
  width: 183px;
}

.add-ingredient__btn:hover {
  background-color: var(--grey-accent);
  transition: background-color 0.3s ease-in-out;
}

.add-ingredient__form>button::before {
  content: "+";
  margin-right: 5px;
}

/* ingredients display section */
.heading {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0;
  padding-top: 1rem;
}

.list__items {
  color: var(--light-text);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}

/* ingredients section callout */
.callout {
  align-items: center;
  background: var(--secondary-color);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 1.7rem 0;
  padding: 2.5rem 3rem 3rem 3rem;
}

.callout__heading {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.callout__text {
  color: var(--grey-accent);
  font-size: 1rem;
  margin: 0rem;
}

.callout__btn {
  background-color: var(--accent-color);
  border-radius: 6px;
  border: none;
  box-shadow: 0px 1px 2px 0px #0000000D;
  color: var(--dark-text);
  cursor: pointer;
  font-family: inter, 'sans-serif';
  font-size: 1rem;
  font-weight: 500;
  padding: 9px 17px;
}

.callout__btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
}

.callout__btn:hover {
  background-color: #ea6336;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 680px) {
  .add-ingredient__btn {
    padding: 0.2rem 0.7rem;
    width: auto;
  }

  .callout {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .add-ingredient__btn {
    width: auto;
    padding: 0.2rem 0.7rem;
  }

  .main {
    width: 100%;
  }
}


/* recipe section */
.recipe-container {
  color: var(--light-text);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.recipe-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.recipe-container ul li,
.recipe-container ol li {
  margin-bottom: 0.7rem;
}

/* footer section */

.custom-footer {
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  color: var(--light-text); 
  font-size: 14px;
  padding: 16px;
  text-align: center;
  margin-bottom:.5rem ;
}

